NEXT_PUBLIC_SANITY_PROJECT_ID="2s166aaj"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_READ_TOKEN="sk5g5YCCGcEbAJglIEH18MbyfVCNskNyzT2lC3wFI63K2asfQhw000nOCKKCyiAOQ4xKvd9pQxKXaOOMExy3niYgaHDV8MsHUjdhNZnMf5Qr86OCwhCaq9h8IM9XwTqGl9noXzwv66KJDE7QrzVkAEPibIxV1FrUOrUClLPsybs9Yxhfeljt"
SANITY_API_READ_TOKEN="sk5g5YCCGcEbAJglIEH18MbyfVCNskNyzT2lC3wFI63K2asfQhw000nOCKKCyiAOQ4xKvd9pQxKXaOOMExy3niYgaHDV8MsHUjdhNZnMf5Qr86OCwhCaq9h8IM9XwTqGl9noXzwv66KJDE7QrzVkAEPibIxV1FrUOrUClLPsybs9Yxhfeljt"
SANITY_API_WRITE_TOKEN="sks8IS9ZzspeJ8YAwPHfn1Qm5fthlww2bvOYav4jOEmKxk0F8rQbQ0tkbDqAz624NZfbyDBUdcJSBIKt45CV9twHaKzGrG3XB7ZaDDo7ot2HmSj813lpBukPERwEiD3ygJvdvS974asT2RgZ1SJqGEgix8ri8Ad3MoXK7arhark81h1tkYgp"
NEXT_PUBLIC_SITE_URL="https://medinaalmontelawyers.com"
NEXT_PUBLIC_COMPANY_NAME="Medina Almonte Firma Legal"
